section.service 
  .decor-left 
    img(src="./home/images/decor-1.png", alt="")
  .decor-right 
    img(src="./home/images/decor-2.png", alt="")
  .container 
    h2.service__heading One platform to increase followers on all social media.
  ul.service__list 
    li.service__item
      .service__icon 
        svg(
          width="36",
          height="42",
          viewBox="0 0 36 42",
          fill="none",
          xmlns="http://www.w3.org/2000/svg"
        )
          path(
            fill-rule="evenodd",
            clip-rule="evenodd",
            d="M11.9519 18.2684H24.0485V28.5485H11.9519V18.2684ZM13.756 20.0725H22.2444V26.7443H13.756V20.0725Z",
            fill="black"
          )
          path(
            d="M15.5726 18.1305V19.0326H13.7685V15.7622C13.7685 14.6392 14.2141 13.5629 15.0065 12.7686C15.8008 11.9762 16.8789 11.5288 18.0001 11.5288C19.1214 11.5288 20.1995 11.9762 20.9937 12.7686C21.7862 13.5629 22.2318 14.6392 22.2318 15.7622V19.0326H20.4277V15.7622C20.4277 15.119 20.1725 14.499 19.7179 14.0444C19.2615 13.5898 18.6434 13.3328 18.0001 13.3328C17.3568 13.3328 16.7387 13.5898 16.2823 14.0444C15.8276 14.499 15.5725 15.1189 15.5725 15.7622L15.5726 18.1305Z",
            fill="black"
          )
          path(
            d="M17.1932 1.95489L16.6451 1.23793L18.0772 0.141846L18.6253 0.857008C19.0709 1.43739 19.5399 1.99804 20.0358 2.53527C20.5515 3.09771 21.087 3.63854 21.6458 4.15604C22.2262 4.6969 22.8246 5.21799 23.4409 5.71751C24.0823 6.2368 24.7382 6.73631 25.4102 7.21609C26.1056 7.71381 26.8154 8.1918 27.5359 8.65001C28.2816 9.12436 29.0363 9.58256 29.8054 10.021C30.5942 10.4721 31.3938 10.9087 32.2006 11.3255C33.2051 11.8448 34.2221 12.3426 35.2481 12.8152C35.2247 13.6525 35.1708 14.4863 35.0846 15.32C35.0163 15.9813 34.9301 16.6407 34.8276 17.2966C34.6102 18.682 34.3227 20.0548 33.9669 21.4114C33.5986 22.8291 33.1566 24.2253 32.6444 25.5964C32.1269 26.9925 31.5304 28.3546 30.8566 29.6824C30.5205 30.3437 30.163 30.9942 29.7856 31.6321C29.4119 32.2664 29.0148 32.8863 28.5961 33.4918C28.181 34.0902 27.7444 34.6742 27.2844 35.2384C26.8298 35.7954 26.35 36.3327 25.8487 36.8484C25.351 37.3587 24.8317 37.8421 24.2872 38.3003C23.7481 38.7549 23.1839 39.1771 22.5981 39.5671C22.0142 39.957 21.4068 40.3092 20.7815 40.6254C20.1508 40.9417 19.5021 41.2166 18.8355 41.4466L17.9837 41.7413L17.3944 40.0361L18.2461 39.7414C18.8355 39.5384 19.4123 39.294 19.9711 39.0137C20.5318 38.7316 21.0744 38.4153 21.5973 38.0685C22.1274 37.7127 22.6377 37.33 23.1264 36.9203C23.6242 36.5016 24.1021 36.0578 24.555 35.5906C25.0203 35.1127 25.4642 34.6149 25.8846 34.0974C26.3159 33.571 26.7238 33.0265 27.1119 32.4659C27.5072 31.8962 27.881 31.3105 28.2332 30.7139C28.5925 30.1084 28.9303 29.4921 29.2484 28.8649C29.8899 27.5999 30.4613 26.299 30.9554 24.9675C31.446 23.6522 31.8682 22.3135 32.2222 20.9568C32.5618 19.6577 32.8367 18.3424 33.0452 17.0163C33.144 16.391 33.2249 15.7639 33.2896 15.1332C33.3309 14.7342 33.365 14.3353 33.3902 13.9346C32.7127 13.6094 32.0407 13.2734 31.3723 12.9266C30.5421 12.4989 29.7192 12.0515 28.9088 11.5861C28.1163 11.1333 27.3365 10.6625 26.5675 10.172C25.8182 9.69577 25.0832 9.19984 24.3609 8.68414C23.6601 8.18283 22.9755 7.6617 22.3052 7.11908C21.6566 6.5944 21.0277 6.04457 20.4167 5.47674C19.8237 4.9269 19.2542 4.3519 18.7079 3.75712C18.1761 3.17854 17.6711 2.57658 17.1931 1.95484L17.1932 1.95489Z",
            fill="black"
          )
          path(
            d="M17.7539 39.7413L18.6056 40.036L18.0163 41.7412L17.1645 41.4465C16.4979 41.2165 15.8492 40.9416 15.2185 40.6253C14.5932 40.3091 13.9858 39.9569 13.4019 39.5669C12.8161 39.177 12.2519 38.7548 11.7128 38.3001C11.1683 37.8419 10.6491 37.3586 10.1513 36.8483C9.65002 36.3326 9.17024 35.7953 8.71563 35.2383C8.25563 34.6741 7.81899 34.0901 7.40389 33.4917C6.98522 32.8862 6.58812 32.2662 6.21438 31.6319C5.83703 30.9941 5.47943 30.3436 5.14345 29.6823C4.46964 28.3544 3.87307 26.9924 3.35557 25.5962C2.84345 24.2252 2.40143 22.8291 2.03307 21.4113C1.67728 20.0547 1.3898 18.6818 1.17236 17.2965C1.06994 16.6406 0.983686 15.9811 0.915408 15.3199C0.829158 14.4861 0.775251 13.6524 0.751892 12.815C1.78151 12.3407 2.80032 11.8429 3.81016 11.3236C4.62413 10.905 5.43092 10.4701 6.22695 10.0191C7.005 9.57888 7.77048 9.12249 8.52516 8.64809C9.2583 8.18809 9.97885 7.70831 10.6868 7.21238C11.3678 6.73081 12.0362 6.23129 12.6867 5.712C13.3139 5.21428 13.923 4.69319 14.5124 4.15232C15.0766 3.63482 15.6192 3.09396 16.1404 2.53156C16.6381 1.99608 17.1107 1.43727 17.5545 0.856885L18.1043 0.141724L19.5347 1.23961L18.9866 1.95477C18.5068 2.5783 17.9984 3.18205 17.4629 3.76063C16.9094 4.35721 16.3309 4.93221 15.7325 5.48205C15.1107 6.05166 14.4711 6.59791 13.8116 7.12259C13.1306 7.66525 12.4352 8.18634 11.7236 8.68765C10.9905 9.20156 10.2448 9.69748 9.48472 10.1755C8.70667 10.6642 7.91602 11.135 7.11645 11.5896C6.29889 12.0514 5.47053 12.4988 4.63319 12.9283C3.96297 13.2733 3.28911 13.6093 2.60992 13.9345C2.63508 14.3352 2.66922 14.7342 2.71055 15.1331C2.77523 15.7638 2.8561 16.3909 2.95492 17.0162C3.16336 18.3423 3.43829 19.6576 3.77791 20.9568C4.13189 22.3134 4.55416 23.6521 5.0447 24.9674C5.53884 26.2989 6.11025 27.5999 6.75172 28.8649C7.06977 29.492 7.40759 30.1083 7.76694 30.7138C8.11912 31.3104 8.49287 31.8962 8.88819 32.4658C9.27631 33.0264 9.68422 33.5708 10.1155 34.0974C10.5359 34.6149 10.9798 35.1126 11.4451 35.5906C11.898 36.0577 12.3759 36.5016 12.8737 36.9202C13.3624 37.3299 13.8727 37.7127 14.4028 38.0684C14.9257 38.4152 15.4684 38.7315 16.029 39.0136C16.5878 39.2939 17.1646 39.5383 17.754 39.7413L17.7539 39.7413Z",
            fill="black"
          )
      h4.service__title 100% Secure
      p.service__text From they fine john he give of rich he. They age and draw mrs like. Improving end distrusts may instantly.
    li.service__item
      .service__icon 
        svg(
          width="44",
          height="28",
          viewBox="0 0 44 28",
          fill="none",
          xmlns="http://www.w3.org/2000/svg"
        )
          path(
            d="M29.9276 0.717548C26.9412 0.717548 24.0571 1.73277 21.7392 3.58896C19.5236 1.98075 16.8678 1.11108 14.0793 1.11108C12.7514 1.11108 11.4361 1.31053 10.1693 1.70586L9.60861 1.88016L9.66791 2.46413C9.72002 2.98163 9.54033 3.49554 9.17557 3.8657C9.03002 4.01125 8.86112 4.12625 8.67426 4.20531L7.80459 4.57367L8.39035 5.31399C9.1109 6.22502 9.0372 7.52774 8.21965 8.3453C7.7902 8.77475 7.22058 9.01014 6.61324 9.01014C6.10112 9.01014 5.59981 8.83584 5.2009 8.5178L4.49655 7.95536L4.10483 8.76933C4.0078 8.97237 3.88561 9.14667 3.74186 9.29221C3.36991 9.66416 2.85958 9.84743 2.34029 9.79352L1.75632 9.73422L1.58202 10.2949C0.130169 14.9524 1.37179 19.9944 4.82001 23.4532C7.29071 25.9239 10.5774 27.2841 14.0738 27.2841C17.089 27.2841 19.9462 26.2707 22.2586 24.4091C24.5047 26.0334 27.1424 26.8888 29.9259 26.8888C37.1405 26.8888 43.0087 21.0182 43.0087 13.8041C43.0123 6.58759 37.1419 0.717529 29.9273 0.717529L29.9276 0.717548ZM5.84066 22.4364C2.89381 19.4806 1.75816 15.2273 2.81294 11.2239C3.54788 11.1557 4.23066 10.8358 4.76256 10.3057C4.83803 10.2303 4.9099 10.1494 4.97998 10.065C5.48672 10.3147 6.04911 10.4477 6.61873 10.4477C7.60879 10.4477 8.5396 10.0614 9.24036 9.36057C10.3796 8.22134 10.6347 6.50356 9.95014 5.10199C10.0364 5.03191 10.1208 4.95824 10.1999 4.87738C10.7228 4.34553 11.0372 3.65911 11.1037 2.93314C12.074 2.67798 13.0731 2.54861 14.0812 2.54861C17.1897 2.54861 20.1131 3.7597 22.3142 5.96089C26.8567 10.5034 26.8567 17.8924 22.3142 22.4344C20.1149 24.6338 17.1894 25.8449 14.0775 25.8449C10.9635 25.8449 8.03814 24.6338 5.84072 22.4362L5.84066 22.4364ZM29.9276 25.4498C27.5558 25.4498 25.3023 24.749 23.3584 23.4211C28.429 18.316 28.4202 10.0379 23.3278 4.94568C23.1841 4.80014 23.0349 4.65998 22.8858 4.52342C24.9055 2.99429 27.3744 2.15695 29.9279 2.15695C36.35 2.15695 41.5733 7.38209 41.5733 13.8041C41.5751 20.2244 36.35 25.4495 29.9279 25.4495L29.9276 25.4498Z",
            fill="black"
          )
          path(
            d="M14.8521 10.2354C15.4702 10.2354 16.0506 9.99462 16.4854 9.55975C16.9239 9.1285 17.1665 8.54991 17.17 7.93177C17.1718 7.30824 16.9311 6.72247 16.4854 6.27682C16.047 5.84557 15.4666 5.6084 14.8521 5.6084C14.2375 5.6084 13.6571 5.84559 13.2097 6.28584C12.3167 7.19328 12.3185 8.66133 13.2133 9.55796C13.6518 9.9946 14.234 10.2354 14.8521 10.2354H14.8521ZM14.2267 7.29931C14.3938 7.134 14.6167 7.04415 14.8521 7.04415C15.0875 7.04415 15.3103 7.1358 15.4738 7.29572C15.6427 7.46463 15.7343 7.68744 15.7325 7.92463C15.7308 8.15643 15.6409 8.37385 15.4738 8.53915C15.1396 8.87336 14.5664 8.87336 14.2304 8.53915C13.8908 8.19954 13.8926 7.63893 14.2268 7.29931L14.2267 7.29931Z",
            fill="black"
          )
          path(
            d="M5.82456 12.6541C5.20641 12.6541 4.62603 12.8948 4.18222 13.3387C3.29635 14.2389 3.29635 15.7051 4.18581 16.6108C4.62425 17.0492 5.20646 17.2918 5.82456 17.2918C6.44266 17.2918 7.02309 17.0492 7.46331 16.6108C8.36712 15.707 8.36712 14.2371 7.46331 13.3351C7.02308 12.8966 6.44266 12.6541 5.82456 12.6541H5.82456ZM6.44629 15.5955C6.11207 15.9297 5.53347 15.9261 5.20825 15.5991C4.86864 15.2541 4.86864 14.6935 5.20465 14.3521C5.37176 14.185 5.59278 14.0934 5.82639 14.0934C6.05998 14.0934 6.281 14.185 6.44813 14.3521C6.79492 14.7007 6.79492 15.2469 6.44633 15.5955L6.44629 15.5955Z",
            fill="black"
          )
          path(
            d="M14.7173 19.5813C15.3354 19.5813 15.9158 19.3387 16.3596 18.8966C17.2455 17.9964 17.2455 16.5302 16.3506 15.6209C15.9122 15.1897 15.3318 14.9525 14.7173 14.9525C14.1028 14.9525 13.5223 15.1897 13.0785 15.6245C12.1747 16.5283 12.1747 17.9964 13.0785 18.9002C13.5188 19.3405 14.101 19.5813 14.7173 19.5813H14.7173ZM14.092 16.647C14.2591 16.4817 14.4819 16.3918 14.7173 16.3918C14.9527 16.3918 15.1755 16.4835 15.3354 16.6398C15.675 16.9848 15.675 17.5454 15.339 17.8868C15.0048 18.221 14.4316 18.221 14.0956 17.8868C13.7488 17.5364 13.7488 16.9902 14.092 16.647L14.092 16.647Z",
            fill="black"
          )
          path(
            d="M19.5546 10.0054C18.9365 10.0054 18.3561 10.2479 17.9213 10.681C17.4828 11.1123 17.2402 11.6909 17.2367 12.309C17.2349 12.9325 17.4756 13.5183 17.9213 13.9639C18.3597 14.3952 18.9401 14.6324 19.5546 14.6324C20.1692 14.6324 20.7496 14.3952 21.1934 13.9604C21.6354 13.5183 21.8762 12.9325 21.8744 12.3091C21.8708 11.6909 21.6282 11.1123 21.1934 10.6847C20.755 10.2463 20.1727 10.0055 19.5546 10.0055V10.0054ZM20.1818 12.9415C19.8457 13.2721 19.2618 13.2667 18.9347 12.9451C18.7658 12.7761 18.6742 12.5533 18.676 12.3161C18.6778 12.0843 18.7676 11.8669 18.9347 11.7016C19.1019 11.5345 19.3229 11.4429 19.5565 11.4429C19.7901 11.4429 20.0111 11.5345 20.1818 11.707C20.3453 11.8687 20.4352 12.0844 20.437 12.3161C20.437 12.5533 20.3453 12.7761 20.1818 12.9415L20.1818 12.9415Z",
            fill="black"
          )
          path(
            d="M15.2619 19.7717C14.6438 19.7717 14.0634 20.0124 13.6232 20.4527C13.1847 20.8911 12.9421 21.4733 12.9421 22.0914C12.9421 22.7095 13.1847 23.29 13.6268 23.7338C14.0652 24.165 14.6456 24.4022 15.2601 24.4022C15.8746 24.4022 16.4551 24.165 16.9025 23.7248C17.7883 22.8245 17.7883 21.3583 16.8989 20.4526C16.4622 20.0142 15.8801 19.7716 15.2619 19.7716L15.2619 19.7717ZM15.889 22.7077C15.553 23.0384 14.969 23.033 14.642 22.7113C14.4749 22.5442 14.3833 22.3232 14.3833 22.0896C14.3833 21.856 14.4749 21.635 14.642 21.4679C14.8091 21.3008 15.0301 21.2091 15.2638 21.2091C15.4974 21.2091 15.7184 21.3008 15.8819 21.4643C16.2197 21.8093 16.2197 22.3717 15.8891 22.7077L15.889 22.7077Z",
            fill="black"
          )
          path(
            d="M30.1112 8.87333C30.9971 7.97311 30.9971 6.50686 30.1022 5.59763C29.6638 5.16638 29.0834 4.9292 28.4688 4.9292C27.8543 4.9292 27.2739 5.16638 26.8301 5.60121C25.9263 6.50502 25.9263 7.97306 26.8301 8.87692C27.2685 9.31535 27.8507 9.55795 28.4688 9.55795C29.0869 9.55795 29.6692 9.31537 30.1112 8.87333H30.1112ZM27.8435 6.62186C28.0106 6.45655 28.2334 6.3667 28.4688 6.3667C28.7042 6.3667 28.927 6.45834 29.087 6.61467C29.4266 6.95967 29.4266 7.52032 29.0906 7.86168C28.7564 8.1959 28.1831 8.1959 27.8472 7.86168C27.5004 7.51309 27.5004 6.96685 27.8436 6.62185L27.8435 6.62186Z",
            fill="black"
          )
          path(
            d="M37.8861 12.5896C37.4513 12.1476 36.8709 11.905 36.2474 11.905C35.6274 11.905 35.0434 12.1476 34.6014 12.5896C33.7156 13.4899 33.7156 14.9561 34.6104 15.8654C35.0488 16.2966 35.6311 16.5338 36.2474 16.5338C36.8673 16.5338 37.4477 16.2948 37.8807 15.8618C38.3192 15.4233 38.5618 14.8411 38.5618 14.223C38.5636 13.6067 38.321 13.0245 37.8861 12.5896H37.8861ZM36.8655 14.8447C36.5384 15.1717 35.9437 15.161 35.6274 14.8483C35.2878 14.5033 35.2878 13.9427 35.6238 13.6013C35.7909 13.4342 36.0137 13.3425 36.2491 13.3425C36.4827 13.3425 36.7002 13.4342 36.8673 13.6013C37.0344 13.7684 37.126 13.9894 37.126 14.223C37.126 14.4566 37.0326 14.6776 36.8655 14.8448L36.8655 14.8447Z",
            fill="black"
          )
          path(
            d="M30.4617 18.2909C29.8472 18.2909 29.2668 18.5281 28.8194 18.9683C27.9335 19.8686 27.9335 21.3348 28.8248 22.2405C29.2632 22.6789 29.8454 22.9215 30.4635 22.9215C31.0816 22.9215 31.662 22.6789 32.1023 22.2405C33.0061 21.3366 33.0061 19.8668 32.0987 18.9594C31.6584 18.5281 31.078 18.2909 30.4617 18.2909L30.4617 18.2909ZM31.0834 21.2234C30.7492 21.5576 30.1706 21.554 29.8454 21.227C29.5058 20.882 29.5058 20.3213 29.8364 19.9836C30.0035 19.8183 30.2263 19.7284 30.4617 19.7284C30.6971 19.7284 30.9199 19.8182 31.0835 19.98C31.4321 20.3286 31.4321 20.8748 31.0835 21.2234H31.0834Z",
            fill="black"
          )
          path(
            d="M31.2271 14.8248C32.1309 13.921 32.1309 12.4511 31.2271 11.5491C30.7941 11.116 30.2137 10.8771 29.5938 10.8771C28.9738 10.8771 28.3952 11.1161 27.9604 11.5491C27.522 11.9875 27.2794 12.5697 27.2794 13.1878C27.2794 13.8059 27.522 14.3864 27.955 14.8212C28.3899 15.2632 28.9702 15.5058 29.592 15.5058C30.2155 15.504 30.7977 15.2615 31.2271 14.8248ZM28.7187 13.186C28.7187 12.9525 28.8104 12.7314 28.9775 12.5643C29.1392 12.4026 29.3584 12.3127 29.5938 12.3127C29.8292 12.3127 30.0484 12.4026 30.2101 12.5643C30.5587 12.9129 30.5587 13.4591 30.2065 13.8113C29.8831 14.1402 29.3099 14.1455 28.9774 13.8077C28.8103 13.6406 28.7187 13.4196 28.7187 13.186L28.7187 13.186Z",
            fill="black"
          )

      h4.service__title No Cookies Required
      p.service__text Age and draw mrs like. Improving end distrusts may instantly was household applauded incommode.
    li.service__item
      .service__icon 
        svg(
          width="32",
          height="32",
          viewBox="0 0 32 32",
          fill="none",
          xmlns="http://www.w3.org/2000/svg"
        )
          path(
            d="M27.2998 31.2H22.1997V29.7H27.2998C28.6998 29.7 29.7998 28.6 29.7998 27.2V4.7002C29.7998 3.3002 28.6998 2.2002 27.2998 2.2002H4.69984C3.29984 2.2002 2.19984 3.3002 2.19984 4.7002V27.3002C2.19984 28.7002 3.29984 29.8002 4.69984 29.8002H9.8V31.3002H4.69984C2.49984 31.3002 0.699837 29.5002 0.699837 27.3002V4.7002C0.699837 2.5002 2.49984 0.700195 4.69984 0.700195H27.2998C29.4998 0.700195 31.2998 2.5002 31.2998 4.7002V27.3002C31.2998 29.5002 29.4998 31.2004 27.2998 31.2004V31.2Z",
            fill="black"
          )
          path(
            d="M15.2998 15.2999H16.7998V30.4999H15.2998V15.2999Z",
            fill="black"
          )
          path(
            d="M24.2 16H7.8L16 7.80005L24.2 16ZM11.4 14.5H20.6L16 9.90005L11.4 14.5Z",
            fill="black"
          )
      h4.service__title Login Info Not Required
      p.service__text Draw mrs like. Improving end distrusts may instantly was household applauded incommode.
    li.service__item
      .service__icon 
        svg(
          width="42",
          height="40",
          viewBox="0 0 42 40",
          fill="none",
          xmlns="http://www.w3.org/2000/svg"
        )
          path(
            d="M21.92 0.680054C14.4395 0.680054 7.65265 4.99435 4.46163 11.7201H1.68006C1.36201 11.7201 1.06555 11.8854 0.898429 12.1567C0.73132 12.428 0.715147 12.7658 0.857101 13.0515L4.5371 20.4115C4.69343 20.7224 5.01145 20.9201 5.36009 20.9201C5.70872 20.9201 6.02672 20.7224 6.18307 20.4115L9.86307 13.0515C10.005 12.7658 9.99065 12.428 9.82174 12.1567C9.65464 11.8854 9.35816 11.7201 9.04011 11.7201H6.52631C9.55582 6.08873 15.4494 2.52005 21.9202 2.52005C31.5586 2.52005 39.4002 10.3617 39.4002 20.0001C39.4002 29.6384 31.5586 37.4801 21.9202 37.4801C14.7617 37.4801 8.39851 33.1891 5.71257 26.5477C5.5221 26.0769 4.98843 25.8505 4.51404 26.0392C4.04327 26.2296 3.81507 26.7651 4.00551 27.2377C6.97573 34.5779 14.0068 39.3201 21.9202 39.3201C32.5738 39.3201 41.2402 30.6537 41.2402 20.0001C41.2402 9.34645 32.5738 0.680054 21.9202 0.680054H21.92ZM5.36001 17.9425L3.16784 13.5599H7.5504L5.36001 17.9425ZM25.6 21.8399C25.6 23.3619 24.362 24.5999 22.84 24.5999V25.9799C22.84 26.4884 22.4285 26.8999 21.92 26.8999C21.4115 26.8999 21 26.4884 21 25.9799V24.5999H19.62C19.1115 24.5999 18.7 24.1884 18.7 23.6799C18.7 23.1714 19.1115 22.7599 19.62 22.7599H22.84C23.3468 22.7599 23.76 22.3466 23.76 21.8399C23.76 21.3332 23.3467 20.9199 22.84 20.9199H21C19.4781 20.9199 18.24 19.6819 18.24 18.1599C18.24 16.638 19.4781 15.3999 21 15.3999V14.0199C21 13.5114 21.4115 13.0999 21.92 13.0999C22.4285 13.0999 22.84 13.5114 22.84 14.0199V15.3999H24.22C24.7285 15.3999 25.14 15.8114 25.14 16.3199C25.14 16.8284 24.7285 17.2399 24.22 17.2399H21C20.4933 17.2399 20.08 17.6532 20.08 18.1599C20.08 18.6666 20.4933 19.0799 21 19.0799H22.84C24.362 19.0799 25.6 20.318 25.6 21.8399ZM21.92 30.5799C16.0854 30.5799 11.34 25.8346 11.34 19.9999C11.34 14.1653 16.0854 9.41992 21.92 9.41992C27.7547 9.41992 32.5 14.1653 32.5 19.9999C32.5 25.8346 27.7547 30.5799 21.92 30.5799ZM21.92 11.2599C17.1006 11.2599 13.18 15.1807 13.18 19.9999C13.18 24.8191 17.1008 28.7399 21.92 28.7399C26.7393 28.7399 30.66 24.8191 30.66 19.9999C30.66 15.1807 26.7393 11.2599 21.92 11.2599Z",
            fill="black"
          )
      h4.service__title Moneyback Guarrentee
      p.service__text Improving end distrusts may instantly was from they fine john he give of rich he. They age and draw mrs like.
