section.subscribe
  .container 
    .subscribe__box
      .subscribe__decor 
        img(
          src="./home/images/subscribe-decor.png",
          draggable="false"
        )
      h4.subscribe__title Join with our Community
      h2.subscribe__heading Set your social media growth on autopilot.
      form.subscribe__form(
        autocomplete="off",
        method="post",
        spellcheck="false"
      ) 
        input.subscribe__input(
          type="email",
          placeholder="Your Email Address",
          value="hungdeptraichimto@gmail.com"
        )
        button.subscribe__button Subscribe
